@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

:root {
  --variable: #030345;
}

.container {
  background-color: var(--variable);
}

.bg-custom {
  background-color: var(--variable);
}

.text-custom {
  color: var(--variable);
}
